{{#each Asignatura}}
<h1 style="color: white;">{{Nombre}}</h1>



{{#compare Rol '==' 2}}
<!--Código de Profesor-->
<a href="/teacher/fileUpload/{{idAsignatura}}" style="color: white;">Subir archivos</a>
{{#each Files}}
<br />
<a href="/courses/file/{{idFiles}}" >{{Nombre}}</a>
<a href="/teacher/editFile/{{idFiles}}" style="color: black;">Editar</a>
<a href="/teacher/deleteFile/{{idFiles}}" style="color: black;">Eliminar</a>

{{/each}}
{{else}}
<!--Código de Alumno-->
{{#each Files}}
<br />



<a href="/courses/file/{{idFiles}}" >{{Nombre}}</a>

{{/each}}
{{/compare}}

{{/each}}