<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%- include('partials/head.html'); %>
</head>

<body>
    <%- include('partials/navigation.html'); %>
        <div class="login">
            <div class="card-header bg-dark text-white text-center">
                <h3>Register</h3>
                <%- include ('./partials/messages') %>

            </div>
            <div class="card-body">

                <form action="/users/register" method="POST">
                    <label for="username">
                        <!-- font awesome icon -->
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="username" placeholder="Username" id="username" required/>

                    <label for="email">
                        <!-- font awesome icon -->
                        <i class="fas fa-at"></i>
                    </label>
                    <input type="text" name="email" placeholder="Email" id="email" required />
                    <label for="dni">
                        <!-- font awesome icon -->
                        <i class="fas fa-id-card"></i>
                    </label>
                    <input type="text" name="dni" placeholder="DNI" id="dni" required />
                    
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required />
                    <label for="password2">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password2" placeholder="Confirm Password" id="password2" required />

                   
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </form>
                <p>Have An Account? <a href="/users/login">Login</a></p>
            </div>
        </div>
        <br />
        <%- include('partials/footer.html'); %>
</body>

</html>