<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tablas.css">
    <title>
        <%= title%>
    </title>
    <%- include('../partials/head.hbs'); %>
        <style>

        </style>
</head>

<body>
    <%- include('../partials/navigation.hbs'); %>


        <table border="2px">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Acción</th>

                </tr>
            </thead>
            <tbody>

                    <% if(Profesores.length!=0){ var i=1; Profesores.forEach(function(data){ %>
                        <tr>
                            <td>
                                <%= data.Nombre%>
                            </td>
                            <td>
                                <%= data.Apellidos%>
                            </td>
                            <td>
                                <%= data.DNI%>
                            </td>
                            <td>
                                <%= data.Dirección%>
                            </td>
                            <td>
                                <%= data.Email%>
                            </td>
                            <td>
                                <%= data.Telefono%>
                            </td>
                            <td>
                                <button>Editar</button>
                                <a href="/administration/removeProfesor/<%=data.idProfesor%>">Dar de Baja</a>
                            </td>

                        </tr>
                        <% i++; }) %>
                            <% }else{ %>
                                <tr>
                                    <td colspan="7" style="text-align: center;">No Existen Profesores en la Base de de
                                        Datos</td>
                                </tr>
                                <% } %>

                                    

            </tbody>

        </table>


        <div class="colum col-md-4 offset-md-4" style="align-items: center;">
            <div class="card" style="align-items: center;">
                <div class="card-header text-center" style="align-items: center;">
                    <a class="nav-link" id="nav-link_admin" href="/administration/registerTeacher">Dar de Alta Nuevo Profesor</a>
                </div>
            </div>
        </div>

        <br />

        <%- include('../partials/footer_admin.hbs'); %>


</body>

</html>